/* normalize.css 2011-06-23T00:50 UTC //github.com/jonathantneal/normalize.css */
    article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,form,input,button,select,textarea{font-size:100%;margin:0}a,a:active,a:hover{outline:none}a:focus{outline:thin dotted}abbr{_border-bottom:expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;color:#000}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small,sub,sup{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul{list-style:none}audio[controls],canvas,video{display:inline-block;*display:inline}audio{display:none;_display:expression(this.controls ? 'inline':'none');*zoom:1}audio[controls]{display:inline-block}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){ overflow:hidden}legend{*margin-left:-7px}button,input,select,textarea{vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;_overflow:expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{ -webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

    body {      
      color: #5f6864;
      font-family: Gill Sans, Helvetica, Arial, sans-serif;
    }
    a:link{
      color:#4e8a3c;
      text-decoration:none;
      border-bottom: none;
    }
    a:visited{
      color:#4e8a3c;
    }
    a.img {
      border: none;
    }

    h1 {
      font-size: 48px;
    }
    h2 {
      padding-top: 8px;
      font-size: 32px;
    }

    h3.l2l {
      padding-top: 8px;
      padding-bottom: 12px;
      font-size: 24px;
      color: #005A84;
    }

    h4 {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    h1, h2, h3 {
      font-family: Helvetica, Arial, sans-serif;
    }
    h4.linkable {
      padding-top: 50px;
    }

    p {
      line-height: 1.4;
    }
    p.aside {
       font-size: 80%;
    }
    p.pubdate {
      font-size: 80%;
      font-color: #b9c7d4;
      margin-top: 0px;
    }
    p.article-nav {
      border-top: dotted #b9c7d4 2px;
      padding-top: 10px;
      margin-top: 20px;
      text-align: center;
      font-size: 80%;
    }

    li {
      line-height: 1.2;
    }

    div.code {
      border: solid 1px; 
      padding: 10px; 
      background: #E1E7ED; 
      font-family: courier;
      font-size: 90%;
    }

    img.logo {
      margin: 0 auto;
      display: inline-block;
    }
    img.profile {
      border: 1px solid #b4bbb8;
      width: 200px;
      padding: 5px;
      float: left;
      margin-left: 0px;
      margin-right: 15px;
    }
    img.profile-right {
      border: 1px solid #b4bbb8;
      padding: 5px;
      float: right;
      margin-left: 15px;
      margin-right: 10px;
    }

    ul.roles {
      padding-left: 0px;
      font-style: italic;
    }
    ul.roles a {
      border: none;
      text-decoration: none;
      color: #415A68;
    }

    ul.roles li {
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: 1px solid #000;
      display: inline-block;
    }
    ul.roles li.first {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
      display: inline-block;
    }

    section.banner {
      padding-top: 70px;
      padding-bottom: 20px;
      padding-left: 250px;
      padding-right: 250px;
      background-color: #ffffff;
      background-attachment: fixed;
      color: #439f46;
      text-align: left;
    }
    section.banner p {
      font-size: 22px;
    }
    section.banner img {
      width: 200px;
      float: left;
    }
    section.banner h1 {
      font-size: 18px;
      text-transform: uppercase;
      padding-top: 10px;
      color: #439f46;
    }


    ol.toc {
      margin-top: 5px;
      border-top: 2px double #415a68;
      border-bottom: 2px double #415a68;
      padding: 5px 0px 5px 35px;
    }

    dl.articles {
    }
    dl.articles dt {
      font-weight: bold;
      margin-top: 7px;
    }
    dl.articles dt:after {
      \* content: " \2014 "; *\
    }
    dl.articles dd {
      font-size: 90%;
      margin-top: 5px;
      line-height: 1.3;
      margin-left: 0px;
    }
    dl.articles ol {
      margin-top: 10px;
      margin-right: 20px;
      line-height: 2;
      font-size: 90%;
    }
    dl.articles li {
      line-height: 1.3;
    }

    section#contact {
      clear: left;
      text-align: center;
    }
    section#contact img {
      margin: 20px;
      width: 75px;
    }
    section#contact h2 {
      text-align: center;
    }
    section#contact a {
      border: none;
    }

    section.contact img {
      margin: 20px;
      width: 75px;
      vertical-align: middle;
    }
    section.contact a {
      border: none;
    }

    section#icf {
      clear: left;
      text-align: center;
    }
    section#icf img {
      width: 150px;
    }
    section#icf a {
      border: none;
    }

    section.links {
      color: #439f46;
      font-size: x-large;
    }

    section.box {
      padding: 25px 250px;
    }
    section.box h2 {
      color: #439f46;
      margin: 0px 0px;
      text-align: left;
      font-size: large;
    }
    section.box h3 {
      margin-top: 30px 0px;
      padding-top: 5px;
      text-align: left;
    }
    section.box h3.section {
      margin-top: 40px 0px;
      padding-top: 10px;
      border-bottom: 0.5px solid gray;
      text-align: left;
    }

    div.sidebar {
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 10px;
      padding: 0px 0px;
      border-top: 0px solid #c1dc89;
      border-bottom: 5px solid #c1dc89;
      border-left: 5px solid #c1dc89;
      border-right: 0px solid #c1dc89;
    }
    div.quote {
      padding-left: 5px;
      text-indent:-7px;
      margin: 5px;
    }
    div.attribution {
      padding-left: 30%;
      padding-right: 50px;
      margin-bottom: 5px;
      font-size: smaller;
      line-height:1.4em;
    }

    /* Mailchimp Styles */

    span.asterisk {
      color: #ed1558;
      }

    div.mc-field-group {
      padding-top: 5px;
      padding-bottom: 5px;
      }

    div#mc_embed_signup_scroll {
      margin-bottom: 25px;
      }

    .input-group li {
      display: inline-block;
    }
    .input-group ul {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    .input-group input {
      margin-right: 5px;
    }
    .input-group label {
      padding-right: 10px;
    }

    #mc-embedded-subscribe.button {
      background-color: #439f46;
      color: #ffffff;
      padding: 8px;
      border: 4px solid #446b34;
      border-radius: 4px;
      }

    /* End of Mailchimp Styles */

    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      border-bottom: 1px solid #828b88;
      background: #c1dc89;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
    .menu li {
      display: inline-block;
      padding: 15px 35px 10px 35px;
    }
    .menu a {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
    }
